/*-------- HEADER STYLES START --------*/ 
.site-header{
    &__start{
        padding-top: 14px;
        padding-bottom: 10px;
        background-color: $header-start-color;
    }
    
    &__start--wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1117px;
        align-items: center;
        margin-left: auto;
    }
    
    &__start--address{
        font-size: 14px;
        font-style: normal;
        line-height: 18px;
        color: $main-text-color;
        
        &::before{
            display: inline-block;
            content: "";
            background-image: url(../../images/icons/home.svg);
            width: 14px;
            height: 13px;
            margin-right: 9px;
            background-repeat: no-repeat;
        }
    }
    
    &__start--contacts-list{
        display: flex;
        @include list-unstyled;
        
        &::before{
            display: inline-block;
            content: "";
            background-image: url(../../images/icons/phone.svg);
            width: 13px;
            height: 13px;
            margin-top: 4px;
            margin-right: 9px;
            background-repeat: no-repeat;
            background-position: left center;
        }
    }
    
    
    &__start--contacts-item{
        &:nth-child(1)::after{
            display: inline-block;
            content: "";
            width: 4px;
            height: 4px;
            margin-top: 0;
            margin-right: 9px;
            margin-bottom: 4px;
            margin-left: 9px;
            background-color: #FFBD54;
            border-radius: 50%;
        }
        
        &:nth-child(2)::after{
            display: inline-block;
            content: "";
            width: 4px;
            height: 4px;
            margin-top: 0;
            margin-right: 9px;
            margin-bottom: 4px;
            margin-left: 9px;
            background-color: #FFBD54;
            border-radius: 50%;
        }
        
    }
    
    &__start--contacts-link{
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        color: $main-text-color;
    }  
    
    &__start--schedule{
        display: flex;
        
        &::before{
            display: inline-block;
            content: "";
            width: 14px;
            height: 14px;
            background-image: url(../../images/icons/calendar.svg);
            background-repeat: no-repeat;
            background-position: left center;
            margin-right: 7px;
            margin-top: 3px;
        }
    }
    
    &__start--schedule-text{
        margin-top: 0;
        margin-bottom: 0;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        color: $main-text-color;
        &:nth-child(1){
            margin-right: 17px;
        }
    }

    &__start--schedule-text-week{
        font-weight: 600;
    } 
}





/*-------- HEADER STYLES END --------*/ 